body {
    background-color: #121212;
    color: #eee;
    font-family: Arial, sans-serif;
    padding: 40px;
}
.navbar {
    background-color: #1a1a1a;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #00c6ff;
    color: #1a1a1a;
}


.customer-wrapper {
    max-width: 900px;
    margin: auto;
}

.customer-card {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.customer-card input {
    background: #2a2a2a;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.customer-card button {
    background: #00adb5;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}

.customer-card button:hover {
    background: #00fff5;
    color: black;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    background: #1c1c1c;
}

table tr:hover {
    background: #333;
}
