body {
    background: linear-gradient(120deg, #000000, #434343);
    font-family: 'Segoe UI', sans-serif;
    padding: 50px;
    color: white;
}
.navbar {
    background-color: #1a1a1a;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #00c6ff;
    color: #1a1a1a;
}


.item-panel {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.item-panel input {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.item-panel button {
    background: #ff4b2b;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}

.item-panel button:hover {
    background: #ff416c;
}

table {
    margin-top: 30px;
    width: 100%;
}

table th {
    background: #222;
}

table td {
    background: #111;
}
