body {
    background-color: #0f2027;
    background-image: linear-gradient(315deg, #0f2027 0%, #203a43 74%, #2c5364 100%);
    font-family: Arial;
    padding: 40px;
    color: white;
}

.navbar {
    background-color: #1a1a1a;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #00c6ff;
    color: #1a1a1a;
}


.order-container {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.order-container select,
.order-container input {
    background: #2c2c2c;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    margin: 10px 0;
}

.order-container button {
    background: #00c851;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}

.order-container button:hover {
    background: #007e33;
}

table {
    width: 100%;
    margin-top: 20px;
}

table th {
    background: #333;
}

table td {
    background: #222;
}
